// Import variables

@import "../bases/variables";

footer {
  background: $primary-color;
  padding: 50px 0;

  .container-1540 {
    .logo {
      color: $white;
    }

    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      #socials {
        display: flex;
        align-items: center;
        gap: 15px;

        a {
          border-radius: 1000000px;
          background: $dark-text;

          svg {
            color: $white;
            padding: 15px 16px;
          }

          &:nth-child(2) {
            svg {
              padding: 15px;
            }
          }

          &:hover {
            scale: 1.1;
          }
        }
      }

      &:nth-child(2) {
        p {
          color: $white;
          &:nth-child(2) {
            font-size: 14px;
          }
        }
      }

      > div {
        display: flex;
        gap: 15px;

        button {
          background: none;
          border: none;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  footer {
    .container-1540 {
      > div {
        flex-direction: column;
        text-align: center;
      }
    }
  }
}
