@import "../bases/variables";

.liste-projets {
  display: grid;
  gap: 25px;

  article {
    background: var(--white);
    border-radius: 8px;
    box-shadow: 0px 2px 4px -2px #0000001a, 0px 4px 6px -1px #0000001a;

    img {
      height: 250px;
      object-fit: cover;
      object-position: top;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    > div {
      padding: 25px;

      h3,
      > p,
      ul {
        margin-bottom: 15px;
      }

      ul {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        padding: 0;
      }
    }
  }
}

#projects {
  background: $light-grey;

  .container-1540 {
    > p:nth-child(2) {
      text-align: center;
      max-width: 600px;
      margin: 25px auto;
    }

    .liste-projets {
      grid-template-columns: 1fr 1fr;
    }

    .button {
      margin: auto;
      margin-top: 50px;
    }
  }
}

#projects-page {
  #projects {
    .container-1540 {
      .liste-projets {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media screen and (max-width:1024px) {
  .liste-projets {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media screen and (max-width:767px) {
  .liste-projets {
    grid-template-columns: 1fr !important;
  }
}