/* Fonts */
$title: "Sora", sans-serif;
$text: "Carlito", sans-serif;

/* Colors */
$white: #ffffff;
$dark-text: #4b5563;
$light-grey: #f9fafb;
$grey: #d1d5db;
$dark-grey: #9ca3af;
$primary-color: #dd6e42;
$secondary-color: #2cda9d;